.total {
  text-align: end;
  font-size: 1.25rem;
}

.total span {
  font-size: 1.5rem;
  font-weight: 500;
}

.empty {
  font-size: 1.5rem;
  font-weight: 500;
  color: #aaa;
  text-align: center;
}
